.grid-layout{

    display:grid;
    grid-template-columns: 150px 150px 150px;
    column-gap:20px;
    row-gap:20px;
      align-items: center;
}



.cat-img{
    height:150px;
    width:150px;
    object-fit:cover;
    object-position:center;
}
.profile-name{
    font-weight:700;
    margin-top:2px;
    margin-bottom:0px;
    margin-left:5px;
 
}
.mutual-friend{
    color:grey;
    margin-top:2px;
    margin-bottom:0px;
     margin-left:5px;
         font-size:13px;
}
.add-friend{
    border:none;
    background-color:rgb(23, 97, 207);
    color:white;
    border-radius:2px;
    padding-top:5px;
    padding-bottom:5px;
    padding-left:10px;
    padding-right: 10px;
    margin-top:5px;
    margin-bottom:5px;
     margin-left:5px;
        font-size:12px;
}
.profile-display{
   box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}